.gelatine {
	animation: gelatine 0.5s infinite;
}

.bounceOut {
	animation: fadeOut 1.2s ease-in-out !important;
}

@keyframes hithere {
	30% {
		transform: scale(1.2);
	}
	40%,
	60% {
		transform: rotate(-2deg) scale(1.2);
	}
	50% {
		transform: rotate(2deg) scale(1.2);
	}
	70% {
		transform: rotate(0deg) scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes gelatine {
	0%,
	100% {
		transform: scale3d(1, 1, 1) rotate(0deg);
	}
	15% {
		transform: scale3d(0.92, 1.08, 1) rotate(-0.8deg);
	}
	40% {
		transform: scale3d(1.08, 0.92, 1) rotate(0.8deg);
	}
	65% {
		transform: scale3d(0.98, 1.02, 1) rotate(-0.4deg);
	}
	85% {
		transform: scale3d(1.02, 0.98, 1) rotate(0.3deg);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.98) translateY(8px);
		filter: blur(8px);
	}
	100% {
		opacity: 1;
		transform: scale(1) translateY(0);
		filter: blur(0px);
	}
}
@keyframes fadeOut {
	100% {
		opacity: 0;
		transform: scale(0.98) translateY(8px);
		filter: blur(8px);
	}
	0% {
		opacity: 1;
		transform: scale(1) translateY(0);
		filter: blur(0px);
	}
}
