@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --color-basic: #fff;
    --color-darkblue: rgba(0, 32, 48, 1);
    --color-blue: rgba(18, 103, 138, 1);
    --color-turq-blue: rgba(153, 234, 162, 1);
    --color-lime: rgba(153, 234, 162, 1);
    --color-light-lime: rgba(217, 252, 186, 1);
}

html,
body {
    background-color: var(--color-basic);
    height: 100vh;
    width: 100vw;
}

.invertedAlbum {
    -webkit-mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20140%20100%22%3E%3Cpath%20d%3D%22M10%2C0H130A10%2C10%200%2C0%2C1%20140%2C10V67A8%2C8%200%2C0%2C1%20132%2C75H123A8%2C8%200%2C0%2C0%20115%2C83V92A8%2C8%200%2C0%2C1%20107%2C100H10A10%2C10%200%2C0%2C1%200%2C90V10A10%2C10%200%2C0%2C1%2010%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E")
        no-repeat center / contain;
    mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20140%20100%22%3E%3Cpath%20d%3D%22M10%2C0H130A10%2C10%200%2C0%2C1%20140%2C10V67A8%2C8%200%2C0%2C1%20132%2C75H123A8%2C8%200%2C0%2C0%20115%2C83V92A8%2C8%200%2C0%2C1%20107%2C100H10A10%2C10%200%2C0%2C1%200%2C90V10A10%2C10%200%2C0%2C1%2010%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E")
        no-repeat center / contain;
    aspect-ratio: 7 / 5;
    width: 100%;
    height: 100%;
}

#album:hover {
    transform: scale(0.98) translateY(-10px) rotate(1deg);
}

#album:hover #arrow {
    transform: rotate(90deg) scale(0.6);
}

#grid-img {
    border: 0px var(--color-basic) solid;
}

#grid-img:hover {
    border: 0.2rem var(--color-basic) solid;
    transform: scale(1.02) rotate(1deg);
    cursor: pointer;
    border-radius: 1.5rem;
}

#add-photo:hover,
#add-album:hover {
    transform: scale(1.05) rotate(2deg);
    cursor: pointer;
    border-radius: 1.5rem;
}

#add-photo i,
#add-album i {
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
}

#add-photo:hover i,
#add-album:hover i {
    font-size: 3rem;
}

.gelatine {
    animation: gelatine 0.5s infinite;
}

.glass-morph {
    background: rgba(255, 252, 252, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#searchBar div {
    border-radius: 50px;
}

@keyframes gelatine {
    0%,
    100% {
        transform: scale3d(1, 1, 1) rotate(0deg);
    }
    15% {
        transform: scale3d(0.92, 1.08, 1) rotate(-0.8deg);
    }
    40% {
        transform: scale3d(1.08, 0.92, 1) rotate(0.8deg);
    }
    65% {
        transform: scale3d(0.98, 1.02, 1) rotate(-0.4deg);
    }
    85% {
        transform: scale3d(1.02, 0.98, 1) rotate(0.3deg);
    }
}
