.masonry-grid {
	width: 100%;
	min-width: 0;
	max-width: 1600px;
	margin: 0 auto;
}

.gallery-img {
	width: 100%;
	max-width: 100%;
	min-width: 0;
	max-height: 28rem;
	display: block;
	object-fit: cover;
	position: relative;
	z-index: 1;
	transition: transform 0.3s, border 0.3s, border-radius 0.3s, z-index 0s;
}

.invertedAlbum {
	-webkit-mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20140%20100%22%3E%3Cpath%20d%3D%22M10%2C0H130A10%2C10%200%2C0%2C1%20140%2C10V67A8%2C8%200%2C0%2C1%20132%2C75H123A8%2C8%200%2C0%2C0%20115%2C83V92A8%2C8%200%2C0%2C1%20107%2C100H10A10%2C10%200%2C0%2C1%200%2C90V10A10%2C10%200%2C0%2C1%2010%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E")
		no-repeat center / contain;
	mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20140%20100%22%3E%3Cpath%20d%3D%22M10%2C0H130A10%2C10%200%2C0%2C1%20140%2C10V67A8%2C8%200%2C0%2C1%20132%2C75H123A8%2C8%200%2C0%2C0%20115%2C83V92A8%2C8%200%2C0%2C1%20107%2C100H10A10%2C10%200%2C0%2C1%200%2C90V10A10%2C10%200%2C0%2C1%2010%2C0Z%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fsvg%3E")
		no-repeat center / contain;
	aspect-ratio: 7 / 5;
	width: 100%;
	height: 100%;
    background-color: var(--color-basic);
}

#album:hover {
	transform: scale(0.98) translateY(-10px) rotate(1deg);
}

#album:hover #arrow {
	transform: rotate(90deg) scale(0.6);
}

#grid-img {
	border: 0px var(--color-basic) solid;
}

#add-album:hover {
	transform: scale(1.10) rotate(2deg);
	cursor: pointer;
	border-radius: 1.5rem;
}

#add-photo i,
#add-album i {
	font-size: 1.3rem;
	transition: all 0.2s ease-in-out;
}

#add-photo:hover i,
#add-album:hover i {
	font-size: 1.5rem;
}
